@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

$background: #f2f2f2;
$text: rgba(32, 21, 53, 1);
$color1: rgba(245, 153, 177, 1);
$color2: rgba(255, 203, 5, 1);
$color3: rgba(123, 223, 242, 1);
$color4: rgba(178, 247, 239, 1);
